version: '3.8'

services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "8088:8088"
    restart: unless-stopped
    environment:
      - PORT=8088
      - ALLOWED_ORIGINS=http://socket.dam.inspedralbes.cat,http://localhost:5173

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    depends_on:
      - backend
    ports:
      - "80:80"
    restart: unless-stopped
